name: irmin-server

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        ocaml-compiler:
          - 4.13.1
          - 4.12.1
          - 4.11.0
          - 4.09.1
          - 4.08.1
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use OCaml ${{ matrix.ocaml-version }}
        uses: avsm/setup-ocaml@v2
        with:
          ocaml-version: ${{ matrix.ocaml-compiler}}

      - run: opam pin add irmin-server-types.dev . --no-action
      - run: opam pin add irmin-server.dev . --no-action
      - run: opam pin add irmin-client.dev . --no-action
      - run: opam install irmin-server-types irmin-server irmin-client --deps-only --with-doc --with-test
      - run: opam exec -- dune build -p irmin-server-types,irmin-server,irmin-client
      - run: opam exec -- dune runtest -p irmin-server-types,irmin-server,irmin-client

